.ProjectListMain {
    padding: 0px 125px;
  }
  
.ProjectListMain__button-container {
    max-width: 380px;
    margin: 0 10px;
}

.ProjectListMain__add-project-button:hover {
    color: white;
}

.ProjectListMain__projects {
    list-style-type: none;
    overflow: auto;
    top: 225px;
    left: 0;
    right: 0;
    bottom: 85px;
}

.Project__title a:link {
    color: black;
}

.Project__title a:visited {
    color: black;
}

.Project__title a:hover {
    color: blue;
    text-decoration: underline;
}

.Project__title a:active {
    color: purple;
}

@media all and (max-width: 425px) {
    .ProjectListMain {
        padding: 5px 10px 30px 10px;
    }

    .ProjectListMain h2 {
        font-size: 20px;
    }
}